# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/
.env
conda/
miniconda/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# weights
*.pt
*.pth
*.onnx
*.h5
*.hdf5
*.ckpt
checkpoints/
weights/

logs/
runs/
tensorboard/
wandb/

.ipynb_checkpoints/

*.o
*.obj
*.exe
*.dll
*.lib
*.a
*.out
bin/


Thumbs.db
desktop.ini
$RECYCLE.BIN/

.DS_Store

.vscode/
.idea/
*.swp
*.suo